.box {
	border:1px solid #000;
	ul {
		list-style: none;
		li {
			height: 30px;
			a {
				text-decoration: none;
			}
			&:hover {
				background-color: #f00;
			}
		}
		// li:hover {
		// 	background-color: #f00;
		// }
	}
}