@mixin fangkuai100{
	width: 100px;
	height: 100px;
}
.box1 {
	@include fangkuai100;
	background-color: blue;
}
.box2 {
	@include fangkuai100;
	background-color: blue;
}

@mixin bc_color($c){
	background-color: $c;
	color: $c;
	border-color: $c;
}
.box3 {
	@include fangkuai100;
	@include bc_color(blue);
}