.box {
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: #0aa1ed;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5);
  border-color: green; }

h2 {
  background-color: #0aa1ed; }

button {
  background-color: #0aa1ed; }
