@charset "utf-8";

/* CSS Document */
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
video {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: none;
}

body {
  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #282828;
}

a {
  color: #333;
  text-decoration: none;
}

@font-face {
  font-family: "freshskin";
  src: url(./fonts/iconfont.ttf);
}


#head {
  width: 100%;
  height: 46px;
  background: #000;
}

#head .con {
  width: 1200px;
  margin: 0 auto;
}

#head .con .left {
  float: left;
}

#head .con .right {
  float: right;
}

#head .con .left li {
  float: left;
  height: 46px;
  line-height: 46px;
  margin-right: 50px;
  color: #fff;
  cursor: pointer;
}

#head .con .right li {
  float: right;
  height: 46px;
  line-height: 46px;
  margin-left: 50px;
  color: #fff;
  cursor: pointer;
}

#head .con .right li a {
  color: #fff;
}


#nav {
  width: 100%;
  height: 55px;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

#nav .nav_in {
  width: 1200px;
  margin: 0 auto;
}

#nav ul {
  float: left;

}

#nav ul li {
  float: left;
  margin-right: 50px;
  font-size: 18px;
  height: 55px;
  line-height: 55px;

}

#nav ul li:first-child a {
  display: inline-block;
  height: 55px;
  width: 118px;
  background: url(./images/LOGO.png) no-repeat center left;
}

#nav .nav_in ol {
  float: right;
  width: 300px;
  height: 55px;
  font-family: "freshskin";
}

#nav .nav_in ol li {
  float: left;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #333;
  box-shadow: 0 0 0 1px #333 inset;
  transition: box-shadow 0.5s ease 0s;
  border-radius: 16px;
  margin: 10px 0 0 30px;
  cursor: pointer;
}

#nav .nav_in ol li:hover {
  box-shadow: 0 0 0 16px #fff inset;
  color: #333;

}

/*  */
.banner {
  width: 100%;
  height: 720px;
  position: relative;
  color: #fff;
  overflow: hidden;
  text-align: center;
}

.banner .ban {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.banner .current {
  display: block;
}

#button {
  position: absolute;
  left: 50%;
  top: 90%;
  margin-left: -62px;
  z-index: 9999;
}

#button .but {
  float: left;
  width: 28px;
  height: 1px;
  border: 1px solid #d6d6d6;
  margin-right: 20px;
}

#button li {
  cursor: pointer;
}

#button .current {
  background-color: #f90;
  float: left;
  width: 28px;
  height: 1px;
  border: 1px solid #f90;
  margin-right: 20px;
}

body:hover .banner h3 {
  padding-top: 200px;
  opacity: 1;
}

.banner p {
  width: 715px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-style: 20px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in 0s;
}

body:hover .banner p {
  opacity: 1;
}

.banner .ty2 {
  position: absolute;
  top: 1000px;
  left: 50%;
  font-style: 20px;
  opacity: 0;
  transform: translate(-50%, 0);
  transition: all 0.8s ease-in 0s;

}

body:hover .banner .ty2 {
  position: absolute;
  top: 400px;
  opacity: 1;
}

.sanjiao {
  width: 40px;
  height: 30px;
  padding-top: 10px;
  border-radius: 20px;
  box-shadow: 0 0 0 1px #fff inset;
  text-align: center;
  position: absolute;
  top: 1000px;
  left: 50%;
  z-index: 9999;
  opacity: 0;
  transform: translate(-50%, 0);
  transition: all 0.8s ease-in 0s;
}

body:hover .sanjiao {
  position: absolute;
  top: 500px;
  opacity: 1;
}

.sanjiao:hover {
  box-shadow: 0 0 0 20px #2fade7 inset;
}

/*  */
.hot {
  width: 1200px;
  height: 825px;
  margin: 0 auto;
  border-bottom: 3px solid #ccc;
}

.hot h2,
.share h2 {
  text-align: center;
  color: #eee;
  font-size: 36px;
  font-weight: normal;
  line-height: 100px;
}

.hot video {
  float: left;
  width: 792px;
  height: 448px;
  margin: 0 0 12px 17px;
  overflow: hidden;
  background: #000;
}

.hot a {
  float: left;
  width: 388px;
  height: 218px;
  overflow: hidden;
  margin: 0 0 12px 17px;
}

.hot video,
.hot a:nth-of-type(3),
.share a:nth-of-type(1),
.share a:nth-last-of-type(3) {
  margin-left: 0;
}

.hot a img,
.share a img {
  display: block;
}

.hot a img {
  transition: all 0.5s ease-in 0s;
}

.hot a:hover img {
  transform: scale(1.1, 1.1);
}

.hot video {
  width: 795px;
  height: 448px;
  overflow: hidden;
}

.share {
  width: 1200px;
  height: 850px;
  margin: 0 auto;
  border-bottom: 3px solid #ccc;
}

.share a {
  float: left;
  position: relative;
  width: 592px;
  height: 345px;
  margin: 0;
  overflow: hidden;
}

.share a .cur {
  width: 296px;
  height: 345px;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  left: -296px;
  top: 0;
  text-align: center;
  transition: all 0.5s ease-in 0s;
  overflow: hidden;
}

.share a:hover .cur {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
}

.share a:nth-last-of-type(2):hover .cur,
.share a:nth-last-of-type(3):hover .cur {
  position: absolute;
  left: 296px;
  top: 0;
}

.share a .cur img {
  padding: 50px 50px;
}

.share a .cur p {
  padding: 10px 0 15px 0;
}

.share a .cur img {
  width: 200px;
  overflow: hidden;
}

.share a .cur span {
  display: block;
  width: 75px;
  height: 30px;
  background: #2fade7;
  border-radius: 5px;
  margin: 30px 0 0 110px;
  color: #fff;
  line-height: 30px;
}