/* 首页样式 */
/* 版心 */
.wrapper{
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

/* 头部区域 */
.header {
    height: 100px;
    background-color: #fff;
}

.header .wrapper {
    display: flex;
    padding-top: 29px;

    height: 100px;
}
.logo a {
    /* a标签默认为行内样式,加尺寸不生效 */
    display: block;

    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);

    font-size: 0;
    /* 隐藏字体 */
}

.nav {
    padding-left: 102px;
}

.nav ul{
    display: flex;
}

.nav li{
    margin-right: 30px;
}

.nav li a{
    /* a为行内元素,行高只受行高控制 */
    display: block;
    padding: 6px 8px;

    line-height: 27px;
    font-size: 19px;
}

/* active只是一个类选择器,默认选中的样式,当打开其他页面时,再给其他元素添加active */
.nav li .active ,
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search{
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px ;
    justify-content: space-between;
    /* align-items: center; */
    

    width: 412px;
    height: 40px;
    background-color:#f3f5f7;
    border-radius: 20px;
}
.search input{
    flex: 1;
    border: 0;
    /* 透明背景色 */
    background-color:transparent;
    /* 消除焦点框 */
    outline: none;
    
}
/* 特殊选择器,选中input中的placeholder属性 */
.search input::placeholder{
    font-size: 14px;
    color: #999;
}
/* .search img{
    border-radius: 50%;
} */
/* 父级是flex布局,子级变成弹性盒子,加宽高生效 */
.search a{
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../images/btn.png);
}

/* 用户区域 */
.user{
    margin-left: 32px;
    margin-top: 4px;
}
.user img{
    margin-right: 7px;
    vertical-align: middle;
    /* 图片文字垂直居中 */

}
.user span{
    font-size: 16px;
    color: #666;
}   